.s28 {
    font-size: 28px;
    line-height: 33px;
}
.s20 {
    font-size: 20px;
    line-height: 23px;
}
.s16 {
    font-size: 16px;
    line-height: 19px;
}
.s14 {
    font-size: 14px;
    line-height: 16px;
}
.s12 {
    font-size: 12px;
    line-height: 14px;
}
.s10 {
    font-size: 10px;
    line-height: 12px;
}

.bold {
    font-weight: bold;
}

.black {
    color: var(--black);
}
.orange {
    color: var(--orange);
}
.green {
    color: var(--green);
}
.greyF4 {
    color: var(--greyF4);
}
.greyF3 {
    color: var(--greyF3);
}
.greyD9 {
    color: var(--greyD9);
}
.greyC4 {
    color: var(--greyC4);
}
.grey99 {
    color: var(--grey99);
}
.grey66 {
    color: var(--grey66);
}
